@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Read data of test.xlsx</p>
    <p class="lead">
        Number of sheets in file: @ViewBag.NoOfSheets<br/>
        Name of sheets in file: @ViewBag.SheetName<br/>
        First row first cell value in file: @ViewBag.FirstRowFirstCell
    </p>
</div>
